<html>
<head>
<link rel="stylesheet" type="text/css" href="site.css" />
</head>

<body>

  <h1>Add Trip</h1>

<form action="/user/add_trips" method="POST">

  <label>Trip Location</label>
  <input type="text" name = "tripLocation" placeholder="Enter a trip location"/><br />
  <label>Departure Date</label>
  <input type="date" name="tripDepartureDate" /><br />
  <label>Return Date</label>
  <input type="date" name="tripReturnDate" /><br />
  <label>Enter an URL of trip location image</label>
  <input type="text" name="tripLocationImage" placeholder="Enter image URL"/><br />
  <input type="submit"/>

</form>


</body>

</html>
